---
import { Image } from 'astro:assets'

import Socials from './Socials.astro'

const { links, allImgs, title } = Astro.props
---

<main class="flex flex-col items-center justify-start">
	<div class="mx-auto flex w-[90%] flex-col items-start justify-start gap-6 px-5 py-4 lg:gap-8">
		<h2 class="relative isolate text-4xl font-light uppercase lg:ml-6 lg:text-5xl">Filtre</h2>
		<div
			class="mb-4 flex w-full items-center justify-start gap-6 overflow-x-auto overflow-y-hidden px-2 lg:gap-8"
		>
			<a
				data-blobity-focus
				class="rounded-xl border border-cream px-6 py-2.5 font-medium lg:border-none lg:py-0.5"
				href="/portofoliu"
			>
				toate
			</a>{
				links.map((el) => {
					return (
						<a
							data-blobity-focus
							class="whitespace-nowrap rounded-xl border border-cream px-6 py-2.5 text-center font-medium lg:border-none lg:py-0.5"
							href={el.url}
						>
							{el.name}
						</a>
					)
				})
			}
		</div>
	</div>
	<div class="line m relative isolate my-12 h-[1.2px] w-full rounded-lg">
		<span
			class="absolute left-1/2 top-1/2 isolate z-10 -translate-x-1/2 -translate-y-1/2 bg-neutral-800 p-4 text-center text-3xl font-light uppercase lg:px-6 lg:text-4xl"
			>{title}</span
		>
	</div>
	<section class="containery py-8">
		{
			allImgs.map((img) => {
				return (
					<a data-fslightbox href={img.default.src} class="box block">
						<Image
							src={img.default}
							quality="mid"
							alt="Imagine portofoliu"
							class="max-w-full rounded-lg border-2 border-neutral-800 transition-all duration-1000 hover:scale-105 hover:border-white"
						/>
					</a>
				)
			})
		}
	</section>
</main>
<Socials display="block" padding="p-8" />

<script src="/fslightbox.js" is:inline></script>

<style>
	.line {
		background-image: radial-gradient(circle, rgb(245 237 223) 28%, rgb(38 38 38));
	}

	.containery {
		columns: 1;
		column-gap: 20px;
		width: 90%;
		@apply mx-auto;
	}
	.box {
		width: 100%;
		break-inside: avoid;
		margin-bottom: 20px;
	}
	@media (min-width: 864px) {
		.containery {
			columns: 2;
		}
	}
	@media (min-width: 1536px) {
		.containery {
			columns: 3;
		}
	}
</style>
